/*Tag Selectors*/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  margin-top: 50px;
  margin-bottom: 0;
  line-height: 1;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #66BFBF;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 1rem;
}

h3 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
}

hr {
  color: #EAF6F6;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 3rem auto 3rem auto;
}

p {
  color: #40514E;
}

a {
  font-family: 'Montserrat';
  color: #EAF6F6;
  margin-right: 1rem;
  text-decoration: none;
}

a:hover {
  color: white;
}

/*Class Selectors*/
.topContainer {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.topCloud {
  position: absolute;
  /*right: 300px;*/
  right: 20%;
  top: 50px;
}

.bottomCloud {
  position: absolute;
  /*left: 300px;*/
  left: 20%;
  bottom: 300px;
}

/*-----------------------------------------*/
.middleContainer {
  padding-top: 3rem;
  background-color: white;
}

.profilePhoto {
  height: 30%;
  width: 30%;
}

.introduction {
  padding-left: 10%;
  padding-right: 10%;
}

.oddSkillsIcon {
  float: left;
  margin-right: 5%;
  height: 12rem;
  width: 12rem;
}

.evenSkillsIcon {
  float: right;
  margin-left: 5%;
  height: 12rem;
  width: 12rem;
}

.skillsRow {
  width: 30rem;
  margin: 50px auto 50px auto;
  line-height: 2;
}

/*-----------------------------------------*/
.bottomContainer {
  padding: 1rem 0 0.75rem 0;
  background-color: #66BFBF;
}

.contactMeButton {
  background-color: #11CDD4;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Montserrat';
  margin: 1rem;
}

.contactMeButton:hover {
  background-color: #30E3CB;
  color: white;
}

.copyRight {
  color: #EAF6F6;
  font-size: 0.75rem;
}

/*-----------------------------------------*/
.underlined {
  text-decoration: underline;
}
